<div class="newsletter">
    <i class="material-icons" onclick="NewsLetterClose()">close</i>
    <p>Subscribe to our lit newsletter</p>
    <p id="SubButton"><b>Subscribe</b></p>
</div>
<div class="indexcontent">
    <div class="hotstuff">
        <a href="shop.html">
            <div class="skew">
                <p>Hot Stuff</p>
            </div> 
        </a>
    </div>
    <a href="contact.html"></a>
</div>