.newsletter {
  height: 10rem;
  background-color: hotpink;
  position: fixed;
  width: 100vw;
  top: 0; }
  .newsletter i {
    float: right;
    font-size: 2rem;
    padding: 0.5rem; }
  .newsletter p {
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem; }
  .newsletter #SubButton {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    margin: 0.3rem;
    box-shadow: 0px 0px 29px 0px black; }
    .newsletter #SubButton b {
      font-size: 1.5rem; }
